.hero {
	&__container {
		padding-top: 16px;
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 140px 140px 140px;
		gap: 10px 8px;
	}
	&__item {
		padding: 10px 12px;
		border-radius: 6px;
		&-3 {
			grid-column: 3 span;
		}
		&-9 {
			grid-column: 9 span;
			grid-row: 2 span;
		}
		&-blue {
			background: var(--light-blue-color);
		}
		&-yellow {
			background: var(--yellow-color);
		}
		&-bezeviy {
			background: var(--bezeviy-color);
		}
		&-green {
			background: var(--green-color);
		}
		&-pink {
			background: var(--pink-color);
		}
		&-grey {
			background: var(--black-color);
			border: 1px solid var(--green-color);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			& .hero__subtitle {
				color: var(--green-color);
				font-weight: 700;
			}
			& .hero__title {
				color: var(--green-color);
				opacity: 0.4;
			}
			& .hero__value-currency {
				color: rgba(5, 166, 76, 0.6);
				margin-left: -8px;
			}
		}
		&-white {
			background: var(--white-color);
		}
	}
	&__subtitle {
		color: var(--black-color);
		font-size: 12px;
		font-weight: 400;
		line-height: normal;
		margin: 0;
		margin-bottom: 2px;
	}
	&__title {
		color: var(--dark-grey-color);
		text-align: right;
		font-size: 40px;
		font-weight: 700;
		line-height: normal;
		margin: 0;
	}
	&__value {
		&-slash {
			color: rgba(113, 113, 113, 0.6);
			font-size: 44px;
			font-weight: 700;
			line-height: normal;
		}
		&-currency {
			color: rgba(113, 113, 113, 0.6);
			font-size: 20px;
			font-weight: 700;
			line-height: normal;
			margin-left: -10px;
		}
	}
}
