<section class="hero">
	<div class="container hero__container">
		<div class="hero__grid">
			<div class="hero__item hero__item-blue hero__item-3">
				<h4 class="hero__subtitle">Всего сделок за год</h4>
				<h2 class="hero__title">
					<span class="hero__value hero__value-1">9800</span>
					<span class="hero__value hero__value-slash">/</span>
					<span class="hero__value hero__value-2">9800000</span>
					<span class="hero__value hero__value-currency">₽</span>
				</h2>
			</div>
			<div class="hero__item hero__item-yellow hero__item-3">
				<h4 class="hero__subtitle">Общее количество сделок</h4>
				<h2 class="hero__title">
					<span class="hero__value hero__value-1">9800</span>
					<span class="hero__value hero__value-slash">/</span>
					<span class="hero__value hero__value-2">9800000</span>
					<span class="hero__value hero__value-currency">₽</span>
				</h2>
			</div>
			<div class="hero__item hero__item-bezeviy hero__item-3">
				<h4 class="hero__subtitle">Сделок в работе</h4>
				<h2 class="hero__title">
					<span class="hero__value hero__value-1">9800</span>
					<span class="hero__value hero__value-slash">/</span>
					<span class="hero__value hero__value-2">9800000</span>
					<span class="hero__value hero__value-currency">₽</span>
				</h2>
			</div>
			<div class="hero__item hero__item-green hero__item-3">
				<h4 class="hero__subtitle">Выполнено проектов</h4>
				<h2 class="hero__title">
					<span class="hero__value hero__value-1">9800</span>
					<span class="hero__value hero__value-slash">/</span>
					<span class="hero__value hero__value-2">9800000</span>
					<span class="hero__value hero__value-currency">₽</span>
				</h2>
			</div>
			<div class="hero__item hero__item-white hero__item-9">
				<h4 class="hero__subtitle">Клиент</h4>
			</div>
			<div class="hero__item hero__item-grey hero__item-3">
				<h4 class="hero__subtitle">Конверсия</h4>
				<h2 class="hero__title">
					<span class="hero__value hero__value-2">41.25</span>
					<span class="hero__value hero__value-currency">%</span>
				</h2>
			</div>
			<div class="hero__item hero__item-pink hero__item-3">
				<h4 class="hero__subtitle">Сделок в поддержке (за весь период)</h4>
				<h2 class="hero__title">
					<span class="hero__value hero__value-1">9800</span>
					<span class="hero__value hero__value-slash">/</span>
					<span class="hero__value hero__value-2">9800000</span>
					<span class="hero__value hero__value-currency">₽</span>
				</h2>
			</div>
		</div>
	</div>
</section>
