:root {
	// base
	--font-family: "Inter", sans-serif;
	--content-width: 1260px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--white-color: #fff;
	--black-color: #1e1e1e;
	--dark-grey-color: #717171;
	--light-blue-color: #77d5f1;
	--yellow-color: #fff202;
	--bezeviy-color: #fedd94;
	--green-color: #05a64c;
	--pink-color: #febfbc;
	--dark-color: #717171;
}
